.TodoForm__form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}


input {
    background-color: white;
    border: 1px solid transparent;
    border-radius: 2rem;
    padding: 1rem;
    font-family: inherit;
    font-size: inherit;
    width: 100%;

    &:focus {
        border: 1px solid $color-primary;
    }
}
